/**
 * @file styles.css
 * @brief Styles for FatScript Playground
 * @author Antonio Prates <hello@aprates.dev>
 * @version 1.3.4
 * @date 2023-11-10
 *
 * @copyright fatscript/fry project <https://gitlab.com/fatscript/fry>
 * Copyright (c) 2022-2023, Antonio Prates <hello@aprates.dev>
 * Licensed under the GNU General Public License v3.0.
 * See LICENSE file in the project root for full license.
 */

@font-face {
  font-family: "Hermit";
  src: url("hermit.woff2") format("woff2");
  /* source: https://pcaro.es/hermit */
}

body {
  font-family: Hermit, monospace;
  font-feature-settings: "mono";
  margin: 10px;
  padding: 0;
  font-size: 15px;
  color: #717171;
  background: #222222;
  display: grid;
  place-items: center;
}

hr {
  height: 1px;
  border: none;
  background-color: #717171;
}

a {
  text-decoration: none;
  color: #ff4500;
}

a:visited {
  color: #ff4500;
}

a:hover {
  color: #ffffff;
}

a:active {
  color: #ffa500;
}

::selection {
  background: #ff4500;
  color: #222222;
}

::-moz-selection {
  background: #ff4500;
  color: #222222;
}

.spinner {
  height: 30px;
  width: 30px;
  margin: 0;
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;

  -webkit-animation: rotation 0.8s linear infinite;
  -moz-animation: rotation 0.8s linear infinite;
  -o-animation: rotation 0.8s linear infinite;
  animation: rotation 0.8s linear infinite;

  border-left: 5px solid #ff4500;
  border-right: 5px solid #ff4500;
  border-bottom: 5px solid #ff4500;
  border-top: 5px solid #222222;

  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#status {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 20px;
  font-weight: bold;
  color: #ff4500;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #333333;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.footer {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
}

.small-text-note {
  font-size: 12px;
  margin-top: 5px;
}

button,
input[type="text"],
input[type="button"],
input[type="file"],
::-webkit-file-upload-button,
select {
  border: none;
  color: #222222;
  background-color: #717171;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  border-radius: 0;
  transition: background-color 0.3s;
  outline: none;
}

button:hover,
input[type="text"]:hover,
input[type="text"]:focus,
input[type="button"]:hover,
input[type="file"]:hover,
::-webkit-file-upload-button:hover,
select:hover {
  background-color: #ff4500;
}

input[type="file"] {
  width: 206px;
}

#textInput {
  width: 376px;
}
